body {
    margin: 0;
    font-family: 'helvetica';
    background-color: black;
}

#mainBody {
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: rgb(189, 189, 189);
}

#header {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    text-align: center;
}

h1 {
    text-align: center;
}

#western 
{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    text-align: center;
}           

#eastern {
    
    text-align: center;
    grid-column: 2 / 2;
    grid-row: 2 / 2;

}           

#buttons {
    display: grid;grid-row: 3 / 3;
    grid-column: 1 / -1;
}

#simulate {
    text-align: center;

}

.team-div
{
    height: auto;
}

/* ======== Simulation-Ran Screen ======== */


#after-simulation-screen {
    background-color: #7A31C7;
    display: grid;
    height: 100vh;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}