body {
    margin: 0;
    font-family: 'helvetica';
    background-color: black;
}

#mainBody {
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    background-color: rgb(189, 189, 189);
}

#header {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    text-align: center;
}

h1 {
    text-align: center;
}

#leftColumn
{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    text-transform: uppercase;
}

#rightColumn
{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    text-transform: uppercase;
}

#western 
{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    text-align: left;
    text-transform: capitalize;
    margin-top: 1px;
    border-top: 4px solid royalblue;

}           

#eastern 
{
    text-align: left;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    margin-top: 1px;
    border-top: 4px solid royalblue;

}           

#buttons {
    display: grid;
    grid-row: 3 / 3;
    grid-column: 1 / -1;
}

#simulate 
{
    margin-top: 10px;
    text-align: center;

}

.division
{
    margin-top: 10px;
    text-transform: capitalize;
    font-size: x-large;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

.logos
{
    height: 50px;
    width: auto;
    grid-column: 2 / 4;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

#after-simulation-screen 
{
    background-color: #7A31C7;
    display: grid;
    height: 100vh;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.team-div
{
    display: grid;
    height: auto;
    margin-top: 8px;
    font-weight: normal;
    font-size: medium;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    display: grid;
}

#teamFieldGoal
{
    font-size: small;
    grid-row: 3;
}

#teamoverall
{
    font-size: small;
    grid-row: 2;
}

#teamFreeThrow
{
    font-size: small;
    grid-row: 2;
}

#team3point
{
    font-size: small;
    grid-row: 3;
}

#teamPoints
{
    font-size: small;
    grid-row: 2;
}

#teamAssists
{
    font-size: small;
    grid-row: 2;
}

#teamRebound
{
    font-size: small;
    grid-row: 3;
}

#champion
{
    background: rgba(0, 0, 0);
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
}

#standings
{
    background: white;
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 1 / -1;
    grid-row: 1 / 3;
}

#playoffs
{
    background: rgb(177, 175, 175);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-column: 1 / -1;
    grid-row: 3 / 6;
}

#westStandings
{
    text-align: center;
    grid-column: 1;
}

#eastStandings
{
    text-align: center;
    grid-column: 2;
}

#east1
{ 
    display: grid;
    grid-column: 7;
    grid-template-rows: auto auto auto auto auto auto auto auto;
}

#east2
{ 
    display: grid;
    grid-column: 6;
    grid-template-rows: repeat(auto 16);
}

#east3
{ 
    display: grid;
    grid-column: 5;
    grid-template-rows: repeat(auto 32);
}

#eastPos1
{
    margin-top: auto;
    text-align: right;
}

#eastPos2
{
    text-align: right;
}

#eastPos3
{
    margin-top: auto;
    text-align: right;
}

#eastPos4
{
    text-align: right;
}

#eastPos5
{
    margin-top: auto;
    text-align: right;
}

#eastPos6
{
    text-align: right;

}

#eastPos7
{
    margin-top: auto;
    text-align: right;
}

#eastPos8
{
    text-align: right;
}

#eastPost21
{
    margin-top: auto;
    text-align: right;
}

#eastPost23
{
    text-align: right;
}

#eastPost22
{
    margin-top: auto;
    text-align: right;
}

#eastPost24
{
    text-align: right;
}

#eastPost31
{
    margin-top: auto;
    text-align: right;
}

#eastPost32
{
    text-align: right;
}

#eastPostF2
{
    grid-column: 2;
    text-align: right;
    margin-top: auto;
}

#final
{
    display: grid;
    grid-template-columns: auto auto;
}

#west1
{ 
    display: grid;
    grid-column: 1;
    grid-template-rows: auto auto auto auto auto auto auto auto;
}

#west2
{ 
    display: grid;
    grid-column: 2;
    grid-template-rows: auto auto auto auto;
}

#west3
{ 
    display: grid;
    grid-column: 3;
    grid-template-rows: auto auto   ;
}

#westPos1
{
    margin-top: auto;
    text-align: left;
}

#westPos2
{
    text-align: left;
}

#westPos3
{
    margin-top: auto;
    text-align: left;
}

#westPos4
{
    text-align: left;
}

#westPos5
{
    margin-top: auto;
    text-align: left;
}

#westPos6
{
    text-align: left;

}

#westPos7
{
    margin-top: auto;
    text-align: left;
}

#westPos8
{
    text-align: left;
}

#westPost21
{
    margin-top: auto;
    text-align: left;
}

#westPost23
{
    text-align: left;
}

#westPost22
{
    margin-top: auto;
    text-align: left;
}

#westPost24
{
    text-align: left;
}

#westPost31
{
    margin-top: auto;
    text-align: left;
}

#westPost32
{
    text-align: left;
}

#westPostF2
{
    grid-column: 1;
    text-align: right;
    margin-top: 50%;
}