body {
    margin: 0;
    font-family: 'helvetica';
    background-color: black;
    display: grid;
    grid-template-columns: auto minmax(700px, 1200px) auto;
}

#mainBody {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    background-color: #EEEEEE;
}

#header {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    text-align: center;
}

h1 {
    text-align: center;
}

#leftColumn
{
    padding-left: 1rem;
    padding-right: .5rem;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    text-transform: uppercase;
    font-size: 2.5rem;
}  

#rightColumn
{
    padding-left: .5rem;
    padding-right: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    text-transform: uppercase;
    font-size: 2.5rem;
}

#western 
{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    text-align: left;
    text-transform: capitalize;
    margin-top: 1px;
    border-top: 4px solid royalblue;

}           

#eastern 
{
    text-align: left;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    margin-top: 1px;
    border-top: 4px solid royalblue;

}           

#buttons {
    display: grid;
    grid-row: 3 / 3;
    grid-column: 1 / -1;
}

#simulate 
{
    width: fit-content;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    color: white;
    background-color: rgb(204, 117, 58);
}

.division
{
    margin-top: 10px;
    padding: 10px;
    text-transform: capitalize;
    font-size: x-large;
    grid-template-rows: auto auto;
    background-color: white;
    grid-template-columns: auto auto;
}

.logos
{
    height: 50px;
    width: auto;
    grid-column: 2 / -1;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.team-div
{
    display: grid;
    height: auto;
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 4px;
    border-bottom: 1px solid black;
    font-weight: normal;
    font-size: medium;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    display: grid;
} .team-div:hover {
    cursor: pointer;
}

.statInputs
{
    height: fit-content;
    width: 4rem;
}

#teamFieldGoal
{
    font-size: small;
    grid-row: 4;
}

#FGinput
{
    grid-row: 5;
    grid-column: 3;
}

#teamPPGA
{
    font-size: small;
    grid-row: 2;
}

#PTSGinput
{
    grid-row: 3;
    grid-column: 1;

}

#teamFreeThrow
{
    font-size: small;
    grid-row: 2;
}

#FTinput
{
    grid-row: 3;
    grid-column: 2;
}

#team3point
{
    font-size: small;
    grid-row: 4;
}

#PT3input
{
    grid-row: 5;
    grid-column: 2;
}

#teamPTSfor
{
    font-size: small;
    grid-row: 2;
}

#PTSFinput
{
    grid-row: 3;
    grid-column: 3;
}

#teamAssists
{
    font-size: small;
    grid-row: 2;
}

#ASTinput
{
    grid-row: 3;
    grid-column: 4;
}

#teamRebound
{
    font-size: small;
    grid-row: 4;
}

#REBinput
{
    grid-row: 5;
    grid-column: 1;
}

#champion
{
    background: rgba(0, 0, 0);
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr .5fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
}

#standings
{
    
    background: white;
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 2 / -2;
    grid-row: 1 / 3;
    margin-bottom: 20px;
}

#playoffs
{
    border-top: 1px solid black;
    background: white;
    display: grid;
    grid-column: 2 / -2;
    grid-row: 2 / 2;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

#overallStandings
{
    margin-top: 20px;
    font-size: 2.6rem;
    font-weight: bold;
}

#westStandings
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    grid-column: 1;
    width: fit-content;
    font-size: 2rem;
    padding: 10px;
}

#west-text {
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid royalblue;
}

#eastStandings
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    grid-column: 2;
    width: fit-content;
    font-size: 2rem;
    padding: 10px;
}

#east-text {
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid royalblue;
}

#east1
{ 
    display: grid;
    grid-column: 7;
    grid-template-rows: auto auto auto auto auto auto auto auto;
}

#east2
{ 
    display: grid;
    grid-column: 6;
    grid-template-rows: repeat(auto 16);
}

#east3
{ 
    display: grid;
    grid-column: 5;
    grid-template-rows: repeat(auto 32);
}

#eastPos1
{
    margin-top: auto;
    text-align: right;
}

#eastPos2
{
    text-align: right;
}

#eastPos3
{
    margin-top: auto;
    text-align: right;
}

#eastPos4
{
    text-align: right;
}

#eastPos5
{
    margin-top: auto;
    text-align: right;
}

#eastPos6
{
    text-align: right;

}

#eastPos7
{
    margin-top: auto;
    text-align: right;
}

#eastPos8
{
    text-align: right;
}

#eastPost21
{
    margin-top: auto;
    text-align: right;
}

#eastPost23
{
    text-align: right;
}

#eastPost22
{
    margin-top: auto;
    text-align: right;
}

#eastPost24
{
    text-align: right;
}

#eastPost31
{
    margin-top: auto;
    text-align: right;
}

#eastPost32
{
    text-align: right;
}

#eastPostF2
{
    grid-column: 2;
    text-align: right;
    margin-top: auto;
}

#final
{
    display: grid;
    grid-template-columns: auto auto;
}

#west1
{ 
    display: grid;
    grid-column: 1;
    grid-template-rows: auto auto auto auto auto auto auto auto;
}

#west2
{ 
    display: grid;
    grid-column: 2;
    grid-template-rows: auto auto auto auto;
}

#west3
{ 
    display: grid;
    grid-column: 3;
    grid-template-rows: auto auto   ;
}

#westPos1
{
    margin-top: auto;
    text-align: left;
}

#westPos2
{
    text-align: left;
}

#westPos3
{
    margin-top: auto;
    text-align: left;
}

#westPos4
{
    text-align: left;
}

#westPos5
{
    margin-top: auto;
    text-align: left;
}

#westPos6
{
    text-align: left;

}

#westPos7
{
    margin-top: auto;
    text-align: left;
}

#westPos8
{
    text-align: left;
}

#westPost21
{
    margin-top: auto;
    text-align: left;
}

#westPost23
{
    text-align: left;
}

#westPost22
{
    margin-top: auto;
    text-align: left;
}

#westPost24
{
    text-align: left;
}

#westPost31
{
    margin-top: auto;
    text-align: left;
}

#westPost32
{
    text-align: left;
}

#westPostF2
{
    grid-column: 1;
    text-align: right;
    margin-top: 50%;
}

#champion1 {
    font-weight: bold;
    font-size: 8rem;
    color: #7A31C7;
    text-transform: capitalize;
}

#champion-logo1 {
    float: left;
    margin-bottom: 3rem;
}

#champion-logo2 {
    float: right;
    margin-bottom: 3rem;
}

.team-standings-div {
    font-size: 1rem;
    margin-left: 10rem;
    margin-right: auto;
    color: #7A31C7;
    text-transform: capitalize;
    list-style: decimal;
    text-align: left;
}

#champion-trophy1 {
    transform: scaleX(-1);
    margin-left: 10rem;
    float: left;
    height: 40px;
    width: auto;
}
#champion-trophy2 {
    margin-right: 10rem;
    float: right;
    height: 40px;
    width: auto;
}